* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    --m-fg: #fff;
    --m-bg: #000;
}
a {
    color: var(--m-fg);
    text-decoration: none;
}
a:visited {
    color: var(--m-fg);
}
li {
    list-style: none;
    /* background: lightskyblue; */
}
li:nth-child(2n) {
    /* background: green; */
}

#nt, #ntl {
    display: none;
}

nav {
    transition: box-shadow 700ms;
    position: sticky;
    top: 0;
    background: #000;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 4px 0 black inset;
}

nav a h1 {
    font-family: Century;
    color: rgb(180, 155, 75);
    /* filter: drop-shadow(0 0 2px purple); */
    margin-right: 10px;
}

nav * {
    user-select: none;
}

@media (min-width: 615px) {
    nav {
        background: orange;
    }
}
@media (max-width: 615px) {
    nav {
        padding: 7px;
    }
    nav ul {
        display: none;
    }
    nav .navtopwrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav h1 {
        display: inline-block;
        /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem; */
    }
    nav.show {
        position: fixed;
        background: #000;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 7px 0px gray inset;
        top: 0;
        left: 0;
        z-index: 100;
    }
    nav.show h1 {
        /* top: 27px;
        transform: translate(-50%, 0); */
    }
    nav.show ul {
        display: block;
    }
    nav.show li {
        margin-bottom: 4px;
    }
    li a {
        transition: box-shadow 250ms;  
        height: 48px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-radius: 7px;
        box-shadow: 0 0 4px 1px #5050707f inset;  
    }
    li a:hover, li a:active {
        box-shadow: 0 0 5px 1px #505070ff inset;
        background: #2020207f;
    }
    #ntl {
        display: inline-flex;
        padding: 7px;
        cursor: pointer;
        box-shadow: 0 0 2px 0px #fff7;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 15px 10px;
    }
    #ntl line {
        transition: stroke-width 125ms linear, filter 300ms;
    }
    #ntl:hover line {
        stroke-width: 10px;
        stroke-linecap: round;
    }
    main {
        background: #7b00ff;
        padding: 10px 10px;
    }
    main * {
        padding: 10px;
    }
    main::after {
        display: inline-block;
        content: 'this only appears on screens smaller than 615px!';
    }
}